.Home{ 
	
	width: 100%;
	display: table;
	
}
.tablerow{
	display: table-row;

}
.leftPane{ 
	width: 800px;
	display: table-cell;

}
.rightPane{ 
	width: 50%;
	
	
	display: table-cell;
	margin-left: 50px;
	
	
}